/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*actual css - Jacob Ekanem*/
body {
    font-family: 'Open Sans', sans-serif;
    background: #fbfbfb;
}

.container {
    background: #fff;
    width: 992px;
    min-height: 600px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    width: 70px;
    font-size: 11px;
    text-align: center;
    float: left;
}

.logo img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.top-menu {
    float: right;
    margin-top: 30px;
}

.top-menu li {
    display: inline;
}

.top-menu li:after {
    content: ' | ';
}

.top-menu li:last-child:after {
    content: '';
}

.top-menu a, .main-menu a {
    color: #434343;
    text-decoration: none;
    font-size: 14px;
}

.outer-menu-container {
    float: right;
    margin-right: 300px;
}


ul.main-menu {
    min-width: 200px;
    list-style: none;
    padding-top: 20px;
    padding-bottom:100px;
}
ul.main-menu li {
    display: block;
    float:left; 
    margin: 5px;
    
}

.main-menu li a{
    background: #008080;
    border: 1px solid #006a6a;
    color: #fff;
    padding: 2px 5px;
}

.clearfix {
    clear: both;
}

article {
  display: block;
  float: left;
  width: 800px;
}

article > section {
  float:left;
  clear:both;
  padding: 15px
}

section > img {
    float: left;
    width: 200px;
    
}
section > p {
    
}

aside {
  display:block;
  float: left;
}